<!DOCTYPE html>
<html>
  <head>
    <title>BlueBird Station</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
		<script src="/bower_components/jQuery/dist/jquery.min.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-aria/angular-aria.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/bower_components/angular-material/angular-material.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

		<script src="/javascripts/index.module.js"></script>
		<script src="/javascripts/controllers/main.controller.js"></script>
		</head>
  <body ng-app='bbsApp'>
  	<div layout="row" ng-controller="mainCtrl as mctrl">
  		<!-- Nav Goes Here -->
		  <div ui-view class='view-wrap fade'>

		  </div>
		</div>
  </body>
</html>